{% extends 'base.html' %}

{% block page_title %}Dashboard{% endblock %}

{% block page_content %}
	<div class="content">
		<aside class="sidebar" id="leftSideBar">
			<nav class="side-menu">
				<div class="menu-list menu-personal">
					<div class="menu-item active" data-section-id="participations">
						<a href="javascript:void(0);">My Participations</a>
					</div>
					<div class="menu-item" data-section-id="queues">
						<a href="javascript:void(0);">My Queues</a>
					</div>
					<div class="menu-item" data-section-id="settings">
						<a href="javascript:void(0);">Settings</a>
					</div>
				</div>
				<div class="menu-list menu-general">
					<div class="menu-item" data-section-id="allQueues">
						<a href="javascript:void(0);">All Queues</a>
					</div>
				</div>
			</nav>
		</aside>
		<main class="page">
			<section id="participations" class="section-content active">
				<h1 class="title">My Participations</h1>
				<div class="item-list">
					{% for participation in user.participations.all %}
						<div class="item-block">
							<div class="item-info">
								<h3 class="item-name">{{ participation.queue.name }}</h3>
								<div class="location">
									{% with participation.queue.location as location %}
										{{ location.country.name }}, 
										{{ location.region.name }}, 
										{{ location.city.name }},
										{{ location.address }}
									{% endwith %}
								</div>
								<div class="date-created">{{ participation.created_at }}</div>
							</div>
							<div class="queue-order">
								<div class="number">{{ participation.queue_order }}</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</section>
			<section id="queues" class="section-content">
				<h1 class="title">My Queues</h1>
					<div class="item-list">
						{% for queue in user.queues.all %}
							<div class="item-block">
								<div class="item-info">
									<h3 class="item-name">{{ queue.name }}</h3>
									<div class="location">
										{% with queue.location as location %}
											{{ location.country.name }}, 
											{{ location.region.name }}, 
											{{ location.city.name }},
											{{ location.address }}
										{% endwith %}
									</div>
									<div class="date-created">{{ queue.created_at }}</div>
								</div>
							</div>
						{% endfor %}
					</div>
			</section>
			<section id="settings" class="section-content">
				<h1 class="title">Settings</h1>
			</section>
			<section id="allQueues" class="section-content">
				<h1 class="title">All Queues</h1>
			</section>
		</main>
	</div>
{% endblock %}
